.card{
    width: 200px;
    background: #1d1d1d;
    border-radius: 10px;
    margin: 15px;
}

.card:hover{
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    cursor: pointer;
}

.img{
    display: flex;
    justify-content: center;
}

.image{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
}

.profile-image{
    width: 80%;
    border-radius: 100%;
    padding: 20px;
}

.card--text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: auto;
}

.name {
    color: #a6abb1;
    text-align: center;
    padding: 5px;
}

.uni{
    color: #a6abb1;
    text-align: center;
    padding: 5px;
}

.btn--align{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.btn{
    padding: 9px 0px 9px 0px;
    width: 80%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: 5px;
}