@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background-image: linear-gradient(to bottom, #0f172a, #0e1424, #0c111e, #090d18, #060911);
}